Repository Inneren12/summa.vision-site, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, web

.github/labeler.yml:

# actions/labeler@v5 config (rule-based)
# Каждое имя лейбла -> массив правил (config options).
# Документация: https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**.yml"

web:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/web/**"

ci: fix lhci server startup and chrome flags
  .github/workflows/lhci.yml
  .lighthouserc.cjs
Labels: ci

ci(lhci): run audits against next start
  .lighthouserc.cjs
Labels: none

feat(dash): add dynamic viz widget adapters
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/components/dash/VizWidget.tsx
Labels: web

feat: add tanstack table to data table
  apps/web/components/dash/DataTable.tsx
  apps/web/package.json
  package-lock.json
Labels: web

ci: reuse system chrome for playwright
  .github/workflows/e2e.yml
  .github/workflows/perf.yml
  .github/workflows/update-visual-bases.yml
  .github/workflows/visual-snapshots-sync.yml
  playwright.config.ts
Labels: ci

test: capture browser console logs in playwright
  apps/web/e2e/dash-msw.spec.ts
  e2e/a11y-pages.spec.ts
  e2e/fixtures.ts
  e2e/map-resize.spec.ts
  e2e/smoke.spec.ts
  e2e/stories.e2e.spec.ts
  e2e/support/consent.ts
  e2e/visual/atoms.spec.ts
  e2e/visual/healthz.spec.ts
  e2e/visual/home.spec.ts
  tests/e2e/flags/01_basic.spec.ts
  tests/e2e/flags/02_overrides.spec.ts
  tests/e2e/flags/03_percent.spec.ts
  tests/e2e/flags/04_middleware.spec.ts
  tests/e2e/flags/cookie-attrs.spec.ts
  tests/e2e/flags/exposure-ssr-dedup.spec.ts
Labels: web

test: run playwright via system chrome executable
  .github/workflows/e2e.yml
  .github/workflows/update-visual-bases.yml
  .github/workflows/visual-snapshots-sync.yml
  playwright.config.ts
Labels: ci

fix: use real echarts and vega embed modules
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  apps/web/vitest.workspace.ts
Labels: web

feat(playwright): add quiet reporters and errors-only log
  .gitignore
  playwright.config.ts
  tools/playwright/errors-only-reporter.js
Labels: none

feat: add sortable data table component
  apps/web/components/dash/DataTable.tsx
Labels: web

chore: use system chrome for playwright
  .github/workflows/e2e.yml
  .github/workflows/perf.yml
  playwright.config.ts
Labels: ci

test: harden e2e runtime
  apps/web/app/globals.css
  apps/web/next.config.mjs
  playwright.config.ts
Labels: web

chore: add ephemeral tanstack install to web builds
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/perf.yml
  .github/workflows/update-visual-bases.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

feat: implement standalone sortable data table
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/perf.yml
  .github/workflows/update-visual-bases.yml
  .github/workflows/visual-snapshots-sync.yml
  apps/web/components/dash/DataTable.tsx
Labels: ci, web

feat: implement standalone sortable data table
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/perf.yml
  .github/workflows/update-visual-bases.yml
  .github/workflows/visual-snapshots-sync.yml
  apps/web/components/dash/DataTable.tsx
Labels: ci, web

feat: add dynamic viz widget adapters
  apps/web/components/dash/VizWidget.tsx
Labels: web

Implement sortable dash data table
  apps/web/components/dash/DataTable.tsx
Labels: web

fix(data-table): reorder imports
  apps/web/components/dash/DataTable.tsx
Labels: web

fix: type-safe vega embed cleanup
  .github/workflows/e2e.yml
  .github/workflows/perf.yml
  .gitignore
  apps/web/components/dash/VizWidget.tsx
  apps/web/lib/viz/stubs/vega-embed.ts
  apps/web/types/viz-libs.d.ts
  playwright.config.ts
  tools/playwright/errors-only-reporter.js
Labels: ci, web

feat(web): add analytics event schema
  apps/web/lib/analytics/schema.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  package-lock.json
Labels: web

feat: add analytics consent helper
  apps/web/lib/analytics/consent.ts
Labels: web

feat: add analytics ingestion endpoint
  apps/web/app/api/analytics/route.ts
  apps/web/lib/analytics/schema.ts
Labels: web

feat: add client analytics batching
  apps/web/lib/analytics/send.ts
Labels: web

test(e2e): use Chrome new headless in CI and install browsers
  .github/workflows/e2e.yml
  playwright.config.ts
Labels: ci

fix(web): build AnalyticsContext via mutable builder (fix readonly assign)
  apps/web/lib/analytics/send.ts
Labels: web

test(e2e): force Chrome new headless via ignoreDefaultArgs + args
  .github/workflows/ci.yml
  playwright.config.ts
Labels: ci

fix(web): use ReturnType<typeof setTimeout> for analytics timer (DOM/Node safe)
  apps/web/lib/analytics/send.ts
Labels: web

test(e2e): run Playwright-managed Chromium headless in CI (no X server)
  playwright.config.ts
Labels: none

fix(web): wrap analytics transport thenables
  apps/web/lib/analytics/send.ts
Labels: web

test(e2e): enable e2e dev tooling in CI
  app/api/dev/flags-events/route.ts
  apps/web/app/_components/E2EClientInit.tsx
  apps/web/app/layout.tsx
  apps/web/mocks/browser.ts
  middleware.ts
  playwright.config.ts
Labels: web

test(e2e): ignore legacy headless args
  playwright.config.ts
Labels: none

test(e2e): run Playwright-managed Chromium headless
  .github/workflows/e2e.yml
  playwright.config.ts
Labels: ci

feat(web): add base seo site metadata
  apps/web/app/layout.tsx
  apps/web/lib/seo.spec.ts
  apps/web/lib/seo.ts
  apps/web/lib/seo/site.ts
Labels: web

test(e2e): force prod env and localhost base url
  apps/web/app/api/dev/flags-events/route.ts
  playwright.config.ts
Labels: web

fix(env): guard defaults when applying fallbacks
  lib/env/load.ts
Labels: none

fix(build): disable dev flags endpoint prerender
  apps/web/app/api/dev/flags-events/route.ts
Labels: web

test(e2e): stabilize exposure and dash fixtures
  apps/web/app/_components/E2EClientInit.tsx
  apps/web/app/api/dev/flags-events/route.ts
  apps/web/app/dev/exposure-test/page.tsx
  apps/web/app/layout.tsx
Labels: web

test(e2e): ensure exposure delta and dash select overlay
  apps/web/app/_components/E2EClientInit.tsx
  apps/web/app/api/dev/flags-events/route.ts
  apps/web/app/dev/exposure-test/page.tsx
  apps/web/app/layout.tsx
Labels: web

fix(api): avoid timestamp redaction in analytics scrubber
  apps/web/app/_components/E2EClientInit.tsx
  apps/web/app/api/analytics/route.ts
  apps/web/app/api/dev/flags-events/route.ts
  apps/web/app/dev/exposure-test/page.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
Labels: web

test(e2e): log SSR exposure and inject dash select fallback
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/app/(dashboards)/_components/E2ESelectFallback.tsx
  apps/web/app/_components/E2EClientInit.tsx
  apps/web/app/api/dev/flags-events/route.ts
  apps/web/app/dev/exposure-test/page.tsx
Labels: web
