Repository Inneren12/summa.vision-site, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, web

.github/labeler.yml:

# actions/labeler@v5 config (rule-based)
# Каждое имя лейбла -> массив правил (config options).
# Документация: https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**.yml"

web:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/web/**"

Add files via upload
  server.js
Labels: none

Rename server.js to apps/web/.next/standalone/server.js
  apps/web/.next/standalone/server.js
Labels: web

Update e2e.yml
  .github/workflows/e2e.yml
Labels: ci

Update e2e.yml
  .github/workflows/e2e.yml
Labels: ci

ci: add build output check to E2E workflow
  .github/workflows/e2e.yml
  .playwright.visual.local.config.ts
  apps/web/.env.local
  apps/web/New Text Document.txt
  apps/web/app/(visual)/atoms/page.tsx
  e2e/visual/atoms.spec.ts-snapshots/atoms-win32.png
  e2e/visual/healthz.spec.ts-snapshots/healthz-win32.png
  e2e/visual/home.spec.ts-snapshots/home-win32.png
  e2e/visual/home.spec.ts.txt
  playwright.visual.config.ts
  scripts/visual_baseline_setup.py
  src/shared/theme/tokens.ts
  styles/tokens.css
Labels: ci, web

fix: correct path to standalone server.js
  .github/workflows/e2e.yml
  playwright.config.ts
Labels: ci

feat: add feature flag guardrails
  components/gates/ClientGate.tsx
  components/gates/ServerGate.tsx
  config/feature-flags.local.json.example
  lib/env.client.ts
  lib/env.server.ts
  lib/ff/client.ts
  lib/ff/server.ts
  lib/ff/shared.ts
  lib/runtime-guards.ts
  package-lock.json
  package.json
  tests/env.client.test.ts
  tests/env.server.test.ts
  tests/featureFlags.client.test.ts
  tests/featureFlags.server.test.ts
  tests/mocks/server-only.ts
  tests/no-public-leak.test.ts
  tests/runtime-guards.test.ts
  tests/setup.ts
  vitest.config.ts
Labels: none

feat: add typed app config
  lib/config/client.ts
  lib/config/schema.ts
  lib/config/server.ts
  lib/env.client.ts
  tests/config.client.test.ts
  tests/config.no-leak.test.ts
  tests/config.server.test.ts
Labels: none

feat: add feature flag override infrastructure
  app/api/ff-override/route.ts
  lib/ff/client.ts
  lib/ff/hash.ts
  lib/ff/overrides.ts
  lib/ff/server.ts
  middleware.ts
  tests/ff/hash.test.ts
  tests/ff/overrides.parse.test.ts
  tests/ff/server.merge-overrides.test.ts
Labels: none

feat: add flags provider and dev tools
  app/api/ff-override/route.ts
  app/dev/flags/page.tsx
  components/FlagsProvider.tsx
  components/dev/DevFlagsPage.tsx
  components/gates/FlagGate.client.tsx
  components/gates/FlagGate.server.tsx
  components/gates/PercentGate.client.tsx
  components/gates/PercentGate.server.tsx
  lib/ff/effective.server.ts
  lib/ff/effective.shared.ts
  lib/ff/flags.ts
  tests/dev/panel.ui.test.tsx
  tests/ff/effective.server.test.ts
  tests/ff/provider.ui.test.tsx
Labels: none

Add warnings for invalid rollout overrides
  lib/ff/effective.shared.ts
  lib/ff/warn.ts
  tests/ff/effective.warn.test.ts
Labels: none

feat: add feature flag e2e tests
  app/flags-e2e/layout.tsx
  app/flags-e2e/page.tsx
  app/flags-e2e/section.client.tsx
  components/FlagsProvider.tsx
  components/gates/FlagGate.server.tsx
  components/gates/PercentGate.server.tsx
  lib/ff/effective.server.ts
  lib/ff/effective.shared.ts
  lib/ff/stable-id.ts
  package.json
  playwright.flags.config.ts
  tests/e2e/flags/01_basic.spec.ts
  tests/e2e/flags/02_overrides.spec.ts
  tests/e2e/flags/03_percent.spec.ts
  tests/e2e/flags/04_middleware.spec.ts
  tests/e2e/flags/utils.ts
Labels: none

docs: add feature flag policies and lint guard
  .eslintrc.flags.cjs
  docs/feature-flags.md
  tests/docs/feature-flags.md.test.ts
  tests/policies/import-boundary.test.ts
Labels: docs

Add root scripts for web app workflows
  package.json
Labels: none

Improve flag overrides handling and logging
  app/api/ff-override/route.ts
  lib/ff/effective.server.ts
  lib/ff/flags.ts
  lib/ff/net.ts
  lib/ff/server.ts
  lib/ff/stable-id.ts
  tests/ff/ignoreOverrides.rollout.test.ts
  tests/ff/net.test.ts
  tests/ff/stable-id.test.ts
Labels: none

feat(ff): add override guard for ff override API
  app/api/ff-override/route.ts
  lib/ff/net.ts
  lib/ff/override-guard.ts
  lib/ff/ratelimit.ts
  tests/ff/override.guard.test.ts
Labels: none

Add stable ID helper and user-aware flag gates
  app/flags-s3b/page.tsx
  components/gates/FlagGate.server.tsx
  components/gates/PercentGate.server.tsx
  lib/ff/effective.server.ts
  lib/ff/stable-id.ts
  tests/ff/stable-id.integration.test.ts
Labels: none

feat(ff): harden stable id and override guard
  lib/ff/override-guard.ts
  lib/ff/stable-id.ts
  tests/ff/override.guard.key.test.ts
  tests/ff/stable-id.integration.test.ts
  tests/ff/stable-id.sanitize.test.ts
Labels: none

feat: add feature flag telemetry sink
  app/dev/flags-events/page.tsx
  lib/ff/effective.server.ts
  lib/ff/server.ts
  lib/ff/telemetry.ts
  tests/ff/telemetry.integration.test.ts
  tests/ff/telemetry.ring.test.ts
Labels: none

feat(ff): harden flag overrides policies
  app/api/ff-override/route.ts
  lib/ff/overrides.ts
  tests/ff/policies.dotted.test.ts
  tests/ff/policies.override-types.test.ts
  tests/ff/policies.unknown.test.ts
Labels: none

Add admin emergency feature flag override API
  app/api/admin/ff-emergency-disable/route.ts
  lib/ff/audit.ts
  lib/ff/global.ts
  lib/ff/server.ts
  tests/ff/admin.emergency-api.test.ts
Labels: none

feat: enhance dev flags tooling
  app/api/dev/overrides/clear/route.ts
  app/api/dev/rollout-preview/route.ts
  app/api/dev/sv/route.ts
  app/dev/flags/page.tsx
  components/dev/DevFlagsClient.tsx
  tests/dev/api.overrides.clear.test.ts
  tests/dev/api.rollout.preview.test.ts
  tests/dev/api.sv.test.ts
  vitest.config.ts
Labels: none

Add variant feature flag support and tests
  app/api/admin/ff-emergency-disable/route.ts
  app/dev/flags/page.tsx
  components/dev/DevFlagsClient.tsx
  components/gates/VariantGate.server.tsx
  lib/ff/effective.shared.ts
  lib/ff/flags.ts
  lib/ff/overrides.ts
  lib/ff/shared.ts
  lib/ff/variant.ts
  package.json
  tests/ff/admin.emergency-api.test.ts
  tests/ff/stable-id.test.ts
  tests/ff/variant.admin.api.test.ts
  tests/ff/variant.choice.determinism.test.ts
  tests/ff/variant.choice.dist.test.ts
  tests/ff/variant.override.api.test.ts
  tests/setup.ts
  vitest.config.ts
Labels: none

Add FF override security guard and cookie tests
  app/api/admin/ff-emergency-disable/route.ts
  lib/ff/audit.ts
  lib/ff/instance.ts
  lib/ff/origin.ts
  lib/ff/override-guard.ts
  lib/ff/tscmp.ts
  tests/e2e/flags/cookie-attrs.spec.ts
  tests/ff/override.origin.guard.test.ts
  tests/ff/tscmp.test.ts
Labels: none

Add feature flag metrics and cache improvements
  app/api/dev/flags-reload/route.ts
  app/api/ff-override/route.ts
  app/dev/flags-events/page.tsx
  lib/ff/effective.server.ts
  lib/ff/effective.shared.ts
  lib/ff/hash.ts
  lib/ff/metrics.ts
  lib/ff/override-guard.ts
  lib/ff/server.ts
  lib/ff/variant.ts
  tests/dev/env.reload.test.ts
  tests/ff/hash.cache.test.ts
  tests/ff/metrics.integration.test.ts
  tests/ff/property.random.test.ts
Labels: none

feat(ff): add schema validation dev tooling
  app/api/dev/ff-schema/route.ts
  app/dev/ff-schema/page.tsx
  components/dev/DevFlagsClient.tsx
  docs/flags-security-privacy.md
  lib/ff/schema.ts
  lib/ff/server.ts
  tests/dev/ff-schema.route.test.ts
  tests/ff/schema.validation.test.ts
Labels: docs

feat: improve flag tooling and exposure tracking
  app/flags-e2e/layout.tsx
  app/flags-s3b/page.tsx
  components/gates/ClientGate.tsx
  components/gates/FlagGate.server.tsx
  components/gates/PercentGate.server.tsx
  components/gates/VariantGate.server.tsx
  docs/flags.generated.md
  generated/flags.names.json
  lib/ff/client.ts
  lib/ff/effective.server.ts
  lib/ff/exposure.ts
  lib/ff/runtime.ts
  lib/ff/telemetry.ts
  package.json
  scripts/ff-codegen.mjs
  scripts/ff-doctor.mjs
  scripts/utils/strip-comments.js
  tests/ff/exposure.als.test.ts
  tests/ff/telemetry.ring.test.ts
  tests/scripts/strip-comments.test.ts
  types/flags.generated.d.ts
Labels: docs

Add explicit flag metadata typing
  lib/ff/flags.ts
Labels: none

feat: enhance ff doctor tooling
  package.json
  scripts/doctor/scan.js
  scripts/ff-doctor.allow
  scripts/ff-doctor.mjs
  scripts/utils/strip-comments.js
  tests/scripts/scan.test.ts
  tests/scripts/strip-comments.test.ts
Labels: none

feat: add feature flag exposure tracking
  app/api/dev/flags-events/route.ts
  app/api/ff-exposure/route.ts
  app/dev/exposure-test/page.tsx
  lib/ff/exposure.client.ts
  lib/ff/exposure.ts
  playwright.flags.config.ts
  tests/e2e/flags/exposure-ssr-dedup.spec.ts
  tests/ff/exposure.client.test.ts
Labels: none

feat: bridge auth user id into stable flag ids
  app/flags-e2e/layout.tsx
  lib/auth/user.ts
  lib/ff/stable-id.ts
  middleware.ts
  tests/ff/stable-id.cookies.test.ts
  tests/ff/stable-id.sanitize.test.ts
  tests/ff/stable-id.test.ts
Labels: none

feat: add flag codegen tooling and tests
  docs/flags.generated.md
  generated/flags.names.json
  package.json
  scripts/codegen/extract-registry.js
  scripts/ff-codegen.mjs
  scripts/utils/strip-comments.js
  tests/scripts/codegen.smoke.test.ts
  tests/scripts/extract-registry.test.ts
  types/flags.generated.d.ts
Labels: docs

perf: cache feature flag env and rollout hashing
  lib/ff/hash.ts
  lib/ff/perf.ts
  lib/ff/registry.normalized.ts
  lib/ff/server.ts
  tests/ff/env.cache.test.ts
  tests/ff/hash.cache.test.ts
  tests/ff/registry.normalized.test.ts
Labels: none

Add feature flag documentation playbook and checks
  README.md
  docs/FLAGS_API_REFERENCE.md
  docs/FLAGS_GOVERNANCE.md
  docs/FLAGS_PLAYBOOK.md
  docs/FLAGS_SECURITY_PRIVACY.md
  docs/FLAGS_TROUBLESHOOTING.md
  package.json
  scripts/ff-docs-verify.mjs
  tests/docs/docs-verify.test.ts
Labels: docs

feat: harden feature flag handling
  app/api/ff-exposure/route.ts
  app/api/ff-override/route.ts
  lib/ff/cookies.ts
  lib/ff/effective.shared.ts
  lib/ff/exposure.ts
  lib/ff/flags.ts
  middleware.ts
  scripts/doctor/scan.js
  scripts/ff-doctor.mjs
  tests/ff/exposure.dnt.test.ts
  tests/ff/rollout.clamp.test.ts
  tests/scripts/scan.positions.test.ts
Labels: none

feat: add lazy flag resolution and exposure TTL dedup
  lib/ff/effective.server.ts
  lib/ff/exposure.client.ts
  package.json
  scripts/ff-doctor.mjs
  tests/ff/distribution.ks.test.ts
  tests/ff/exposure.client.ttl.test.ts
  tests/ff/get-flag-server.test.ts
  tests/scripts/doctor.json.test.ts
Labels: none

Add AST doctor scanner, FF ESLint rule, and dev reload endpoint
  app/api/dev/ff-reload/route.ts
  lib/ff/server.ts
  scripts/doctor/ast.js
  scripts/eslint/rules/no-ff-server-in-client.js
  scripts/ff-doctor.mjs
  tests/eslint/rule-exists.test.ts
  tests/ff/env.reset-cache.test.ts
  tests/scripts/ast-available.test.ts
Labels: none

feat: add in-memory feature flag runtime
  app/api/flags/[key]/override/route.ts
  app/api/flags/[key]/rollout/step/route.ts
  app/api/flags/route.ts
  app/api/kill/route.ts
  app/api/metrics/errors/route.ts
  app/api/metrics/vitals/route.ts
  app/api/telemetry/export/route.ts
  app/ops/summary/route.ts
  apps/web/app/layout.tsx
  apps/web/app/metrics.ts
  apps/web/app/providers.tsx
  lib/ff/runtime.ts
  lib/ff/runtime/file-telemetry.ts
  lib/ff/runtime/lock.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/self-metrics.ts
  lib/ff/runtime/types.ts
  middleware.ts
  scripts/ff-rollout.mjs
Labels: web

feat(ff): add memory runtime and telemetry plumbing
  app/api/js-error/route.ts
  app/api/vitals/route.ts
  lib/ff/core/eval/evaluate.ts
  lib/ff/core/eval/hash.ts
  lib/ff/core/eval/segments.ts
  lib/ff/core/ports.ts
  lib/ff/core/store/memory.ts
  lib/ff/metrics/self.ts
  lib/ff/runtime.memory.ts
  lib/ff/seed.ts
  lib/ff/snapshot.ts
  middleware.ts
  tests/ff/evaluate.seedBy.test.ts
  tests/ff/metrics.self.p75.test.ts
  tests/ff/snapshot.build.test.ts
  tests/ff/store.memory.lock.test.ts
Labels: none

fix: capture optional vitals fields safely
  apps/web/app/metrics.ts
Labels: web
