Repository Inneren12/summa.vision-site, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, web

.github/labeler.yml:

# actions/labeler@v5 config (rule-based)
# Каждое имя лейбла -> массив правил (config options).
# Документация: https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**.yml"

web:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/web/**"

test(e2e): ensure SSR exposure delta and CI select fallback
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/app/_components/E2EClientInit.tsx
  apps/web/app/_components/E2EInit.tsx
  apps/web/app/api/dev/flags-events/route.ts
  apps/web/app/dev/exposure-test/page.tsx
  apps/web/app/layout.tsx
Labels: web

test(e2e): stabilize dev exposure logging and dash select fallback
  .gitignore
  apps/web/app/_components/E2EInit.tsx
  apps/web/app/api/dev/flags-events/route.ts
  apps/web/app/dev/exposure-test/page.tsx
  apps/web/app/tokens.css
  apps/web/app/typography.css
Labels: web

test(e2e): add dev helpers for cookies, exposures, and dash fallback
  apps/web/app/_components/E2EInit.tsx
  apps/web/app/api/dev/flags-events/route.ts
  apps/web/app/api/dev/sv/route.ts
  apps/web/app/api/ff-override/route.ts
  apps/web/app/dev/exposure-test/page.tsx
  apps/web/app/layout.tsx
  tests/e2e/flags/03_percent.spec.ts
Labels: web

fix(e2e): stabilize dev APIs and SSR exposure telemetry
  apps/web/app/_components/E2EInit.tsx
  apps/web/app/api/dev/flags-events/route.ts
  apps/web/app/api/dev/sv/route.ts
  apps/web/app/api/ff-override/route.ts
  apps/web/app/dev/exposure-test/page.tsx
  apps/web/app/e2e-init.client.tsx
  apps/web/app/layout.tsx
  apps/web/lib/dev/exposure-store.ts
  apps/web/middleware.ts
Labels: web

build: add lint script and isolate node built-ins
  apps/web/lib/dev/exposure-store.ts
  apps/web/lib/server/crypto.ts
  apps/web/middleware.ts
  apps/web/next.config.mjs
  apps/web/package.json
Labels: web

test(e2e): stabilise flags overrides and exposure logging
  apps/web/app/api/dev/sv-id/route.ts
  apps/web/app/api/ff-override/route.ts
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/e2e-init.client.tsx
  apps/web/app/page.tsx
  apps/web/lib/flags/eval.ts
Labels: web

test(e2e): expose flags probes and fix dash query encoding
  apps/web/app/e2e-init.client.tsx
  apps/web/app/flags-e2e/page.tsx
  apps/web/middleware.ts
Labels: web

test(e2e): align flags-e2e probes with incoming cookies
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/flags-e2e/page.tsx
Labels: web

fix(e2e): make sv dev cookies client readable
  apps/web/app/api/dev/sv/route.ts
Labels: web

fix(e2e): stabilize flags cookies and dash automation helpers
  apps/web/app/api/dev/sv/route.ts
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/dev/exposure-test/page.tsx
  apps/web/app/e2e-init.client.tsx
  apps/web/app/flags-e2e/page.tsx
Labels: web

test(e2e): harden flags dev APIs and dash msw fallbacks
  apps/web/app/api/dev/reset/route.ts
  apps/web/app/api/dev/use-env/route.ts
  apps/web/app/api/stories/route.ts
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/e2e-init.client.tsx
  apps/web/app/flags-e2e/page.tsx
Labels: web

test(e2e): stabilize flags env, dash probe, and ssr exposure
  apps/web/app/api/stories/route.ts
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/dev/exposure/page.tsx
  apps/web/app/e2e-init.client.tsx
  apps/web/app/flags-e2e/page.tsx
Labels: web

test(e2e): harden automation flags probes and msw bootstrap
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/e2e-init.client.tsx
  apps/web/app/flags-e2e/page.tsx
Labels: web

build(e2e): disable PWA during automated runs
  apps/web/next.config.mjs
Labels: web

test(e2e): stabilize dash stories probe and flags gating
  apps/web/app/(dashboards)/[slug]/_components/DashE2EProbe.tsx
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/e2e-init.client.tsx
  apps/web/app/flags-e2e/page.tsx
  apps/web/app/page.tsx
  apps/web/lib/flags/eval.ts
Labels: web

test(e2e): stabilize flags probes and dashboards stories
  apps/web/app/(dashboards)/[slug]/_components/DashboardsE2EProbe.tsx
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/flags-e2e/page.tsx
  apps/web/lib/flags/eval.ts
Labels: web

test(e2e): drop global msw bootstrap from automation init
  apps/web/app/e2e-init.client.tsx
Labels: web

fix(e2e): dedupe SSR exposure events
  apps/web/lib/dev/exposure-store.ts
Labels: web

test(e2e): harden flags probes for automation
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/flags-e2e/page.tsx
  apps/web/lib/flags/eval.ts
Labels: web

test(e2e): gate flags dev mode via cookie only
  apps/web/app/components/E2EFlagsProbe.client.tsx
  apps/web/app/flags-e2e/page.tsx
Labels: web

test(e2e): add dash probe route for stories
  apps/web/app/dash/_components/DashE2EProbe.tsx
  apps/web/app/dash/page.tsx
Labels: web

test(e2e): probe /api/stories again after reload
  apps/web/app/(dashboards)/[slug]/_components/DashboardsE2EProbe.tsx
  apps/web/app/dash/_components/DashE2EProbe.tsx
Labels: web

test(e2e): stub stories API for dashboard flow
  .github/workflows/e2e.yml
  apps/web/e2e/dash-msw.spec.ts
  apps/web/e2e/fixtures/stories.json
  apps/web/next.config.mjs
  playwright.config.ts
  tests/e2e/flags/01_basic.spec.ts
  tests/e2e/flags/03_percent.spec.ts
Labels: ci, web

chore(e2e): align healthcheck web server config
  apps/web/app/api/healthz/route.ts
  playwright.config.ts
Labels: web

fix(api): set no-store cache-control for healthz
  apps/web/app/api/healthz/route.ts
Labels: web

test(e2e): configure root Playwright healthcheck
  playwright.config.ts
Labels: none

fix(ci): unblock lint and vitest in apps/web
  apps/web/app/api/healthz/route.ts
  apps/web/next.config.mjs
  apps/web/types/gray-matter.d.ts
  components/scrolly/scheduleIdle.ts
  lib/content/stories/validator.mjs
  scripts/copy-standalone-assets.cjs
Labels: web

fix(apps/web): type gray-matter default export
  apps/web/types/gray-matter.d.ts
Labels: web

fix(apps/web): rely on built-in gray-matter types
  apps/web/types/gray-matter.d.ts
Labels: web

test(e2e): ensure playwright webserver always binds health url
  .github/workflows/e2e.yml
  playwright.config.ts
Labels: ci

test(e2e): unify Playwright webServer setup
  .github/workflows/e2e.yml
  .playwright.visual.local.config.ts
  playwright.config.ts
  playwright.flags.config.ts
  playwright.visual.config.ts
  playwright/shared/webServer.ts
  scripts/visual_baseline_setup.py
Labels: ci

build(node): enforce Node 20 via engines and .nvmrc
  .nvmrc
  package.json
Labels: none

Revert "feat(playwright): add quiet reporters and errors-only log"
  .gitignore
  apps/web/app/(dashboards)/README.md
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/components/dash/DashLayout.tsx
  apps/web/components/dash/FilterPanel.tsx
  apps/web/components/dash/vizSpecs.ts
  apps/web/lib/dash/data.ts
  apps/web/lib/dash/state.tsx
  apps/web/lib/dash/useDashState.tsx
  playwright.config.ts
  tools/playwright/errors-only-reporter.js
Labels: docs, web

Revert "chore: use system chrome for playwright"
  .github/workflows/e2e.yml
  .github/workflows/perf.yml
Labels: ci

fix(viz): dispatch viz_state events for state changes
  apps/web/app/(visual)/story/FakeChart.tsx
  apps/web/app/viz-demo/page.tsx
  apps/web/e2e/viz-demo.spec.ts
  apps/web/lib/analytics/send.ts
  apps/web/lib/viz/adapters/deck.ts
  apps/web/lib/viz/adapters/echarts.adapter.ts
  apps/web/lib/viz/adapters/fake.ts
  apps/web/lib/viz/adapters/maplibre.adapter.ts
  apps/web/lib/viz/adapters/vegaLite.ts
  apps/web/lib/viz/adapters/visx.tsx
  apps/web/lib/viz/registry.ts
  apps/web/lib/viz/types.ts
  apps/web/lib/viz/useScrollyBindingViz.test.tsx
  apps/web/lib/viz/useScrollyBindingViz.ts
  apps/web/lib/viz/useVizMount.test.tsx
  apps/web/lib/viz/useVizMount.ts
Labels: web

fix(viz): split viz-demo page and harden useVizMount
  apps/web/app/viz-demo/_client/VizDemoClient.tsx
  apps/web/app/viz-demo/page.tsx
  apps/web/e2e/viz-demo.spec.ts
  apps/web/lib/viz/useVizMount.ts
Labels: web

docs(e2e): clarify local Playwright setup and SKIP behavior
  README.md
  docs/dev/e2e.md
  scripts/e2e-preflight.cjs
Labels: docs

feat(viz): add canonical spec-types for VegaLite/ECharts/MapLibre/visx
  apps/web/lib/viz/adapters/echarts.adapter.ts
  apps/web/lib/viz/adapters/maplibre.adapter.ts
  apps/web/lib/viz/adapters/vegaLite.ts
  apps/web/lib/viz/adapters/visx.test.tsx
  apps/web/lib/viz/adapters/visx.tsx
  apps/web/lib/viz/data/mappers.ts
  apps/web/lib/viz/spec-types.ts
  apps/web/lib/viz/stubs/deckgl-core.ts
  apps/web/lib/viz/stubs/echarts.ts
  apps/web/lib/viz/stubs/maplibre-gl.ts
  apps/web/types/externals.d.ts
  apps/web/types/viz-libs.d.ts
Labels: web

fix(e2e): improve preflight cache detection and chrome lookup
  README.md
  docs/dev/e2e.md
  scripts/e2e-preflight.cjs
Labels: docs

feat(viz): add Vega-Lite adapter (react-vega/vega-embed) with discrete mode
  apps/web/app/viz-demo/_client/VegaLiteDemo.tsx
  apps/web/app/viz-demo/page.tsx
  apps/web/app/viz-demo/vega-lite/page.tsx
  apps/web/lib/viz/adapters/adapters.contract.test.tsx
  apps/web/lib/viz/adapters/vegaLite.ts
  e2e/vega-lite.spec.ts
Labels: web
