Repository Inneren12/summa.vision-site, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, web

.github/labeler.yml:

# actions/labeler@v5 config (rule-based)
# Каждое имя лейбла -> массив правил (config options).
# Документация: https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**.yml"

web:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/web/**"

feat(ff): add file store adapter and snapshot tooling
  lib/ff/runtime.ts
  lib/ff/runtime/file-store.ts
  lib/ff/runtime/lock.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/snapshot.ts
  lib/ff/runtime/store-resolver.ts
  package.json
  scripts/ff-store-migrate.ts
  tests/ff/store.adapters.test.ts
Labels: none

feat: add self-hosted metrics provider
  lib/ops/self-hosted-metrics-provider.ts
  tests/ops/self-hosted-metrics-provider.test.ts
Labels: none

feat(ff): add deterministic flag evaluator
  lib/ff/runtime/evaluate-flag.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/types.ts
  tests/ff/evaluate-flag.test.ts
Labels: none

Add initial data catalog and dataset structure
  data/catalog.yml
  data/processed/municipal-budgets-2023/budget_summary.csv
  data/processed/population-census-2021/census_summary.csv
  data/raw/municipal-budgets-2023/budgets_2023.csv
  data/raw/population-census-2021/census_blocks.csv
Labels: none

feat: forward snapshot headers to vitals collection
  app/api/js-error/route.ts
  app/api/metrics/vitals/route.ts
  app/api/vitals/route.ts
  apps/web/app/metrics.ts
  apps/web/app/providers.tsx
  lib/ff/runtime.ts
  lib/ff/runtime/self-metrics.ts
  middleware.ts
  tests/ff/runtime/self-metrics.test.ts
  tests/ops/self-hosted-metrics-provider.test.ts
Labels: web

feat: add admin console security and RBAC
  .env.example
  app/admin/flags/page.tsx
  app/api/admin/ff-emergency-disable/route.ts
  app/api/flags/[key]/override/route.ts
  app/api/flags/[key]/rollout/step/route.ts
  app/api/flags/[key]/route.ts
  app/api/flags/route.ts
  app/api/kill/route.ts
  app/api/telemetry/export/route.ts
  lib/admin/rbac.ts
  lib/ff/audit.ts
  middleware.ts
  tests/admin/rbac.guard.test.ts
Labels: none

feat: secure telemetry export filtering
  app/api/telemetry/export/route.ts
  tests/telemetry/export.route.test.ts
Labels: none

Add Frictionless schemas for processed datasets
  tools/data/frictionless/municipal-budgets-2023.yml
  tools/data/frictionless/population-census-2021.yml
Labels: none

Add Great Expectations suites for processed datasets
  data/catalog.yml
  tools/data/ge/expectations_municipal_budgets_2023.json
  tools/data/ge/expectations_population_census_2021.json
Labels: none

Add data freshness SLA validation
  data/catalog.yml
  data_validate.sh
  package-lock.json
  package.json
  tests/dev/dataFreshness.test.ts
Labels: none

Add DuckDB smoke rowcount check for processed data
  duckdb/sanity_joins.sql
  duckdb/smoke_rowcount.sql
  reports/data/duckdb_smoke_rowcount.json
  tests/scripts/duckdb_smoke_rowcount.test.ts
  tools/data/run_duckdb_smoke.py
Labels: none

feat: align flag admin API with rollout policy
  app/admin/flags/page.tsx
  app/api/flags/[key]/override/route.ts
  app/api/flags/[key]/rollout/step/route.ts
  app/api/flags/[key]/route.ts
  app/api/flags/route.ts
  app/api/kill/route.ts
  app/api/telemetry/export/route.ts
  app/ops/summary/route.ts
  lib/ff/admin/api.ts
  lib/ff/audit.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/types.ts
  scripts/ff-rollout.mjs
Labels: none

chore: require dataset license metadata
  data/catalog.yml
  data_validate.sh
  tests/dev/dataFreshness.test.ts
Labels: none

feat(flags): add rollout automation controller and CLI
  app/api/flags/[key]/rollout/step/route.ts
  lib/admin/rbac.ts
  lib/ff/admin/api.ts
  lib/ff/audit.ts
  lib/ff/runtime/types.ts
  scripts/ff-rollout.mjs
  tests/ff/rollout.controller.test.ts
Labels: none

Add data validation workflow and reporting
  .github/workflows/data-validate.yml
  .gitignore
  data_validate.sh
  tests/dev/dataFreshness.test.ts
Labels: ci

feat: document flag ops and add snapshot tooling
  app/ops/restore/route.ts
  app/ops/snapshot/route.ts
  docs/data-layer.md
  docs/feature-flags.md
  docs/flags.md
  docs/rollouts.md
  docs/segments.md
  lib/ff/audit.ts
  package.json
  scripts/ff-reload.mjs
  scripts/ff-snapshot.mjs
  tests/ops/snapshot.restore.route.test.ts
Labels: docs

feat(ff): add redis runtime store
  app/admin/flags/page.tsx
  app/api/flags/[key]/override/route.ts
  app/api/flags/[key]/rollout/step/route.ts
  app/api/flags/[key]/route.ts
  app/api/flags/route.ts
  app/api/kill/route.ts
  app/ops/restore/route.ts
  app/ops/snapshot/route.ts
  app/ops/summary/route.ts
  lib/ff/runtime.ts
  lib/ff/runtime/file-store.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-lock.ts
  lib/ff/runtime/redis-store.ts
  lib/ff/runtime/snapshot.ts
  lib/ff/runtime/store-resolver.ts
  lib/ff/runtime/types.ts
  middleware.ts
  package-lock.json
  package.json
  scripts/ff-store-migrate.ts
  tests/ff/rollout.controller.test.ts
  tests/ff/store.adapters.test.ts
  tests/ops/snapshot.restore.route.test.ts
  tests/telemetry/export.route.test.ts
Labels: none

feat: add dataset catalog changelog script
  scripts/data_changelog.mjs
Labels: none

feat: add data health report endpoint and admin view
  app/admin/data-health/page.tsx
  app/admin/flags/page.tsx
  app/ops/data-health/route.ts
  lib/data-health/report.ts
  middleware.ts
  tests/ops/data-health.route.test.ts
  tools/data/ge/expectations_municipal_budgets_2023.json
  tools/data/ge/expectations_population_census_2021.json
Labels: none

feat(flags): add runtime flag config validator
  lib/ff/runtime/flag.schema.ts
  package.json
  scripts/ff-validate-config.mjs
  tests/ff/flag-config.schema.test.ts
Labels: none

feat: respect privacy headers in metrics endpoints
  app/api/js-error/route.ts
  app/api/vitals/route.ts
  lib/metrics/privacy.ts
  tests/telemetry/js-error.route.test.ts
  tests/telemetry/vitals.route.test.ts
Labels: none

Add rate limiting for admin flag operations
  app/api/ff-override/route.ts
  app/api/flags/[key]/rollout/step/route.ts
  app/api/kill/route.ts
  lib/admin/rate-limit.ts
  lib/admin/rbac.ts
  lib/ff/override-guard.ts
  lib/ff/ratelimit.ts
  tests/ff/metrics.integration.test.ts
  tests/ff/override.guard.key.test.ts
  tests/ff/override.guard.test.ts
  tests/ff/override.origin.guard.test.ts
  tests/ff/ratelimit.store.test.ts
Labels: none

feat: generate flag key typings
  components/gates/ClientGate.tsx
  components/gates/FlagGate.client.tsx
  components/gates/FlagGate.server.tsx
  components/gates/PercentGate.client.tsx
  components/gates/PercentGate.server.tsx
  components/gates/VariantGate.server.tsx
  lib/ff/client.ts
  package.json
  scripts/ff-generate-types.mjs
  types/flags.d.ts
Labels: none

Add request correlation data for telemetry and audit logs
  app/admin/flags/page.tsx
  app/api/admin/ff-emergency-disable/route.ts
  app/api/ff-exposure/route.ts
  app/api/flags/[key]/override/route.ts
  app/api/flags/[key]/rollout/step/route.ts
  app/api/js-error/route.ts
  app/api/kill/route.ts
  app/api/vitals/route.ts
  app/ops/restore/route.ts
  lib/ff/audit.ts
  lib/ff/effective.server.ts
  lib/ff/exposure.ts
  lib/ff/runtime.ts
  lib/ff/runtime/self-metrics.ts
  lib/ff/telemetry.ts
  lib/metrics/correlation.ts
  middleware.ts
  tests/ff/admin.emergency-api.test.ts
  tests/ff/get-flag-server.test.ts
  tests/ff/hash.cache.test.ts
  tests/ff/policies.dotted.test.ts
  tests/ff/policies.override-types.test.ts
  tests/ff/policies.unknown.test.ts
  tests/ff/runtime/self-metrics.test.ts
  tests/ff/stable-id.cookies.test.ts
  tests/ff/stable-id.integration.test.ts
  tests/ff/stable-id.sanitize.test.ts
  tests/ff/stable-id.test.ts
  tests/ff/telemetry.integration.test.ts
  tests/ff/telemetry.ring.test.ts
  tests/ff/variant.override.api.test.ts
  tests/middleware/request-id.test.ts
  tests/telemetry/js-error.route.test.ts
  tests/telemetry/vitals.route.test.ts
Labels: none

feat: add privacy guard to telemetry ingestion
  app/api/js-error/route.ts
  app/api/vitals/route.ts
  docs/metrics-privacy.md
  lib/ff/runtime.ts
  lib/ff/runtime/self-metrics.ts
  lib/metrics/privacy.ts
  tests/telemetry/js-error.route.test.ts
  tests/telemetry/vitals.route.test.ts
Labels: docs

docs: add ops playbook and flag contribution guide
  docs/contributing-flags.md
  docs/ops-playbook.md
Labels: docs

feat: add shadow rollout observe-only mode
  app/admin/flags/page.tsx
  app/api/flags/[key]/rollout/step/route.ts
  app/api/flags/route.ts
  app/api/telemetry/export/route.ts
  lib/ff/admin/api.ts
  lib/ff/audit.ts
  lib/ff/effective.server.ts
  lib/ff/effective.shared.ts
  lib/ff/exposure.ts
  lib/ff/runtime/flag.schema.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-store.ts
  lib/ff/runtime/types.ts
  lib/ff/schema.ts
  lib/ff/shared.ts
  lib/ff/telemetry.ts
  scripts/ff-rollout.mjs
  tests/ff/telemetry.integration.test.ts
Labels: none

feat: extend ff doctor telemetry analysis
  scripts/doctor/ast.js
  scripts/doctor/scan.js
  scripts/ff-doctor.mjs
  tests/scripts/doctor.json.test.ts
  tests/scripts/scan.positions.test.ts
  tests/scripts/scan.test.ts
Labels: none

fix: stabilize feature flag cookies
  app/api/dev/sv/route.ts
  app/api/ff-override/route.ts
  lib/admin/rbac.ts
  lib/ff/cookies.ts
  middleware.ts
  tests/middleware/cookies.test.ts
Labels: none

feat: ensure stable cookies and consent defaults
  app/api/dev/sv/route.ts
  app/api/js-error/route.ts
  app/api/vitals/route.ts
  lib/admin/rbac.ts
  lib/ff/cookies.ts
  lib/metrics/privacy.ts
  middleware.ts
  tests/e2e/flags/cookie-attrs.spec.ts
  tests/ff/telemetry.integration.test.ts
  tests/middleware/request-id.test.ts
  tests/setup.ts
Labels: none

Add privacy erasure workflows and filtering
  app/api/js-error/route.ts
  app/api/privacy/erase/route.ts
  app/api/privacy/status/route.ts
  app/api/vitals/route.ts
  docs/metrics-privacy.md
  lib/ff/audit.ts
  lib/ff/runtime.ts
  lib/ff/runtime/file-store.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-store.ts
  lib/ff/runtime/self-metrics.ts
  lib/ff/runtime/types.ts
  lib/metrics/privacy.ts
  lib/ops/self-hosted-metrics-provider.ts
  lib/privacy/erasure.ts
  tests/ff/delete-overrides-by-user.test.ts
  tests/ff/telemetry.integration.test.ts
  tests/privacy/erase.route.test.ts
  tests/privacy/erasure.test.ts
  tests/telemetry/js-error.route.test.ts
  tests/telemetry/vitals.route.test.ts
Labels: docs

Fix feature flag cache resets and skip duckdb smoke when unavailable
  app/admin/flags/page.tsx
  app/api/js-error/route.ts
  app/api/privacy/erase/route.ts
  app/api/privacy/status/route.ts
  app/api/vitals/route.ts
  docs/metrics-privacy.md
  lib/ff/audit.ts
  lib/ff/runtime.ts
  lib/ff/runtime/file-store.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-store.ts
  lib/ff/runtime/self-metrics.ts
  lib/ff/runtime/types.ts
  lib/ff/server.ts
  lib/metrics/privacy.ts
  lib/ops/self-hosted-metrics-provider.ts
  lib/privacy/erasure.ts
  tests/ff/store.adapters.test.ts
  tests/ff/telemetry.integration.test.ts
  tests/ops/self-hosted-metrics-provider.test.ts
  tests/privacy/erase.route.test.ts
  tests/privacy/erasure.test.ts
  tests/scripts/duckdb_smoke_rowcount.test.ts
  tests/telemetry/js-error.route.test.ts
  tests/telemetry/vitals.route.test.ts
Labels: docs

feat(ff): enforce shared flag config schema
  app/admin/flags/page.tsx
  app/api/ff-exposure/route.ts
  app/api/flags/[key]/rollout/step/route.ts
  app/api/flags/route.ts
  app/api/kill/route.ts
  app/ops/restore/route.ts
  lib/ff/admin/api.ts
  lib/ff/exposure.client.ts
  lib/ff/exposure.ts
  lib/ff/runtime/evaluate-flag.ts
  lib/ff/runtime/flag.schema.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-store.ts
  lib/ff/runtime/types.ts
  lib/ff/schema.ts
  lib/ff/telemetry.ts
  package.json
  scripts/ff-validate-config.mjs
  tests/ff/evaluate-flag.test.ts
  tests/ff/flag-config.schema.test.ts
Labels: none

feat: add typed env loader and cache reset
  app/api/dev/ff-reload/route.ts
  app/api/dev/ff-schema/route.ts
  app/api/dev/flags-events/route.ts
  app/api/dev/flags-reload/route.ts
  app/api/dev/overrides/clear/route.ts
  app/api/dev/rollout-preview/route.ts
  app/api/dev/sv/route.ts
  app/api/js-error/route.ts
  app/dev/exposure-test/page.tsx
  app/dev/ff-schema/page.tsx
  app/dev/flags-events/page.tsx
  app/dev/flags/page.tsx
  lib/admin/rbac.ts
  lib/env/load.ts
  lib/env/schema.ts
  lib/ff/cookies.ts
  lib/ff/runtime.ts
  lib/ff/runtime/store-resolver.ts
  lib/ff/server.ts
  middleware.ts
  package.json
  scripts/env-check.mjs
  tests/dev/api.overrides.clear.test.ts
  tests/dev/api.rollout.preview.test.ts
  tests/dev/api.sv.test.ts
  tests/dev/env.reload.test.ts
  tests/dev/ff-schema.route.test.ts
  tests/env/load.test.ts
Labels: none

feat: rate limit admin APIs with redis backing
  app/api/flags/[key]/override/route.ts
  app/api/telemetry/export/route.ts
  lib/admin/rate-limit.ts
  lib/ff/audit.ts
  lib/ff/ratelimit.ts
  tests/ff/ratelimit.store.test.ts
  tests/ff/rollout.controller.test.ts
  tests/telemetry/export.route.test.ts
Labels: none

feat(ff): centralize bucketing strategy
  lib/env/load.ts
  lib/env/schema.ts
  lib/ff/audit.ts
  lib/ff/bucketing.ts
  lib/ff/runtime/evaluate-flag.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-store.ts
  tests/ff/bucketing.test.ts
Labels: none

chore: ensure flag key types are generated and enforced
  components/gates/ServerGate.tsx
  package.json
  scripts/ff-generate-types.mjs
  types/flags.d.ts
Labels: none

feat(ff): async file store with ttl caching
  lib/ff/runtime/file-store.ts
  lib/ff/runtime/lock.ts
  tests/ff/file-store.unit.test.ts
Labels: none

refactor(self-metrics): stream ndjson with caching
  lib/ops/self-hosted-metrics-provider.ts
  tests/ops/self-hosted-metrics-provider.test.ts
Labels: none

feat: use ff_aid stable id for flag seeds
  app/api/dev/sv/route.ts
  app/api/ff-exposure/route.ts
  app/flags-s3b/page.tsx
  components/dev/DevFlagsClient.tsx
  components/gates/FlagGate.server.tsx
  components/gates/PercentGate.server.tsx
  components/gates/VariantGate.server.tsx
  lib/ff/bucketing.ts
  lib/ff/effective.server.ts
  lib/ff/override-guard.ts
  lib/ff/runtime/evaluate-flag.ts
  lib/ff/stable-id.ts
  lib/metrics/correlation.ts
  lib/metrics/privacy.ts
  scripts/seed-migration-check.mjs
  tests/ff/evaluate-flag.test.ts
  tests/ff/override.guard.key.test.ts
  tests/ff/stable-id.cookies.test.ts
  tests/ff/stable-id.integration.test.ts
  tests/ff/stable-id.sanitize.test.ts
  tests/ff/stable-id.test.ts
  tests/ff/telemetry.integration.test.ts
  tests/setup.ts
Labels: none
