Repository Inneren12/summa.vision-site, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, web

.github/labeler.yml:

# actions/labeler@v5 config (rule-based)
# Каждое имя лейбла -> массив правил (config options).
# Документация: https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**.yml"

web:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/web/**"

fix: hoist vega default palette constant
  apps/web/lib/viz/adapters/vegaLite.ts
Labels: web

fix: type token lookup
  src/shared/theme/tokens.ts
  style-dictionary.config.cjs
Labels: none

feat(web): integrate deck.gl overlay adapter
  apps/web/lib/viz/adapters/adapters.contract.test.tsx
  apps/web/lib/viz/adapters/deck.ts
  apps/web/lib/viz/adapters/deckgl.adapter.ts
  apps/web/lib/viz/lazyAdapters.client.ts
  apps/web/lib/viz/spec-types.ts
  apps/web/lib/viz/stubs/deckgl-mapbox.ts
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/types/externals.d.ts
  apps/web/types/viz-libs.d.ts
  apps/web/vitest.config.ts
  apps/web/vitest.workspace.ts
  package-lock.json
Labels: web

refactor(web): clone deck spec without mutation
  apps/web/lib/viz/adapters/deck.ts
Labels: web

feat(visx): add accessibility and immutability safeguards
  apps/web/lib/viz/adapters/visx.test.tsx
  apps/web/lib/viz/adapters/visx.tsx
  apps/web/lib/viz/data/mappers.ts
  apps/web/lib/viz/spec-types.ts
  apps/web/package.json
  package-lock.json
Labels: web

feat: sync scrolly binding viz with context
  apps/web/lib/viz/useScrollyBindingViz.test.tsx
  apps/web/lib/viz/useScrollyBindingViz.ts
Labels: web

feat(motion): respect reduced motion preference
  apps/web/components/motion/prefersReducedMotion.ts
  apps/web/lib/analytics/send.ts
  apps/web/lib/scrolly/useScrollyBinding.ts
  apps/web/lib/viz/types.ts
  apps/web/lib/viz/useVizMount.test.tsx
  apps/web/lib/viz/useVizMount.ts
  components/motion/prefersReducedMotion.ts
  components/motion/useReducedMotion.ts
Labels: web

feat: support story viz metadata
  app/(stories)/[slug]/page.tsx
  apps/web/app/api/story-spec/route.ts
  apps/web/lib/analytics/send.ts
  apps/web/lib/stories/prefetch.client.ts
  apps/web/lib/stories/story-loader.tsx
  apps/web/lib/stories/types.ts
  apps/web/lib/viz/types.ts
  apps/web/tests/scrolly.story.spec.tsx
  components/scrolly/Story.tsx
  lib/content/stories/schema.d.ts
  lib/content/stories/schema.mjs
  lib/content/stories/validator.mjs
  tests/scripts/__fixtures__/stories-invalid/broken-story.mdx
  tests/scripts/__fixtures__/stories-invalid/missing-spec-story.mdx
  tests/scripts/stories-validate.test.ts
Labels: web

fix: default story viz needs array
  apps/web/lib/stories/story-loader.tsx
Labels: web

feat: add consent-managed analytics
  apps/web/app/layout.tsx
  apps/web/app/metrics.ts
  apps/web/app/providers.tsx
  apps/web/components/ConsentPreferencesButton.tsx
  apps/web/config/klaro.config.ts
  apps/web/lib/analytics/consent.client.ts
  apps/web/lib/analytics/tracker.client.ts
  apps/web/lib/env.ts
  apps/web/package.json
  apps/web/types/klaro.d.ts
  components/scrolly/useStoryAnalytics.ts
  package-lock.json
Labels: web

fix: improve klaro banner contrast and stabilise e2e consent
  apps/web/app/globals.css
  e2e/a11y-home.spec.ts
  e2e/smoke.spec.ts
  e2e/stories.e2e.spec.ts
  e2e/support/consent.ts
Labels: web

chore: add observer polyfills
  apps/web/app/providers.tsx
  apps/web/package.json
  package-lock.json
Labels: web

feat: add perfume sampling for field vitals
  apps/web/app/metrics.ts
  apps/web/app/providers.tsx
  apps/web/lib/metrics/perfume.client.ts
  apps/web/lib/metrics/sampling.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Labels: web

feat: add accessibility guardrails
  .eslintrc.a11y.cjs
  .github/workflows/ci.yml
  e2e/a11y-home.spec.ts
  e2e/a11y-pages.spec.ts
  package.json
Labels: ci

chore(lock): sync lockfile (perfume.js@9.4.0, web-vitals@5.1.0 via overrides)
  package-lock.json
Labels: none

chore(build): support standalone output assets copy
  apps/web/next.config.mjs
  scripts/copy-standalone-assets.cjs
Labels: web

fix(build): handle standalone layouts in copy script
  scripts/copy-standalone-assets.cjs
Labels: none

fix(build): support Next artifact layouts
  scripts/copy-standalone-assets.cjs
Labels: none

fix(ci): support static next builds
  .github/workflows/e2e.yml
  scripts/copy-standalone-assets.cjs
Labels: ci

test(e2e): auto-detect next server entry
  playwright.config.ts
Labels: none

test(e2e): guard web server port fallback
  playwright.config.ts
Labels: none

test(e2e): stabilise playwright server detection
  .github/workflows/e2e.yml
  playwright.config.ts
Labels: ci

test(e2e): harden playwright web server defaults
  playwright.config.ts
Labels: none

test(e2e): ensure webserver config is explicit
  .github/workflows/e2e.yml
  playwright.config.ts
Labels: ci

test(e2e): enforce unified webServer config
  playwright.config.ts
Labels: none

test(e2e): satisfy Playwright webServer requirements
  playwright.config.ts
  playwright.visual.config.ts
Labels: none

test(e2e): default to next start for Playwright
  playwright.config.ts
Labels: none

ci(e2e): seed visual baselines from CI
  .github/workflows/e2e.yml
Labels: ci

ci(e2e): remove one-time visual baseline seeding step
  .github/workflows/e2e.yml
Labels: ci

feat(stories): add cached story data layer
  apps/web/app/api/stories/route.ts
  apps/web/lib/stories/aggregations.ts
  apps/web/lib/stories/prefetch.client.ts
  apps/web/lib/stories/schemas.ts
  apps/web/lib/stories/story-aggregations.test.ts
  apps/web/lib/stories/story-data.client.ts
  apps/web/lib/stories/types.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Labels: web

chore(lock): sync lockfile (arquero, flechette, idb-keyval, swr, use-sync-external-store)
  package-lock.json
Labels: none

fix(stories): guard viz library rollup rows
  apps/web/lib/stories/aggregations.ts
  apps/web/lib/stories/story-data.client.ts
Labels: web

fix: guard arquero aggregation rows
  apps/web/lib/stories/aggregations.ts
Labels: web

fix: safely read story rollup totals
  apps/web/lib/stories/aggregations.ts
Labels: web

fix(stories): guard story index when content missing
  apps/web/app/api/stories/route.ts
  apps/web/lib/stories/story-loader.tsx
Labels: web

ci: add manual workflow to update visual baselines
  .github/workflows/update-visual-bases.yml
Labels: ci

chore: install playwright via cli in update workflow
  .github/workflows/update-visual-bases.yml
Labels: ci

feat(web): enable pwa offline support
  apps/web/app/(visual)/story/StorySteps.tsx
  apps/web/app/(visual)/story/page.tsx
  apps/web/app/(visual)/story/story-static-content.ts
  apps/web/app/manifest.ts
  apps/web/app/offline/page.tsx
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  public/icons/site.webmanifest
Labels: web

chore(lock): sync lockfile for PWA stack (next-pwa/workbox/babel-loader/clean-webpack-plugin)
  apps/web/package.json
  package-lock.json
Labels: web

fix(pwa): inline google fonts cache configuration
  apps/web/next.config.mjs
Labels: web
