Repository Inneren12/summa.vision-site, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, web

fix(pwa): remove unsupported precachePages option
  apps/web/next.config.mjs
Labels: web

test(vitest): polyfill self and skip arquero coverage
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
Labels: web

fix(pwa): hoist workbox flags to next-pwa options
  apps/web/next.config.mjs
Labels: web

fix(pwa): normalize runtime caching options
  apps/web/next.config.mjs
  apps/web/vitest.setup.ts
Labels: web

feat(web): adjust pwa precache and story cache
  apps/web/next.config.mjs
  apps/web/package.json
  package-lock.json
Labels: web

fix: adjust pwa precache and story api pattern
  apps/web/next.config.mjs
Labels: web

fix: stabilise playwright standalone startup
  .gitignore
  apps/web/package.json
  apps/web/public/mockServiceWorker.js
  apps/web/test/fixtures/ingest.ts
  apps/web/test/fixtures/stories.json
  apps/web/test/msw/browser.ts
  apps/web/test/msw/handlers.ts
  apps/web/test/msw/server.ts
  apps/web/vitest.config.ts
  e2e/__snapshots__/analytics.spec.ts-desktop-chrome/analytics-ingest.json
  e2e/__snapshots__/analytics.spec.ts-mobile-chrome/analytics-ingest.json
  e2e/analytics.spec.ts
  e2e/reduced-motion.spec.ts
  e2e/scrolly.spec.ts
  e2e/support/msw.ts
  package-lock.json
  playwright.config.ts
  scripts/pw.msw.setup.cjs
Labels: web

chore(lock): regenerate package-lock for workspaces
  package-lock.json
Labels: none

feat: add MapLibre map demo
  .env.example
  apps/web/app/(visual)/atoms/page.tsx
  apps/web/components/map/MapView.client.tsx
  apps/web/types/viz-libs.d.ts
  e2e/map-resize.spec.ts
Labels: web

test: harden map resize wait conditions
  e2e/map-resize.spec.ts
Labels: none

test: harden map resize setup
  e2e/map-resize.spec.ts
  playwright.config.ts
Labels: none

test: add map harness for resize e2e
  apps/web/app/e2e/map/page.tsx
  e2e/map-resize.spec.ts
  playwright.config.ts
Labels: web

test: harden offline map harness
  apps/web/app/e2e/map/page.tsx
  apps/web/next.config.mjs
  apps/web/types/viz-libs.d.ts
  e2e/map-resize.spec.ts
Labels: web

test: add map harness webgl fallback
  apps/web/app/e2e/map/page.tsx
  playwright.config.ts
Labels: web

test: make map harness always ready
  apps/web/app/e2e/map/page.tsx
Labels: web

test: normalize map resize checks to css pixels
  e2e/map-resize.spec.ts
Labels: none

feat: add dashboard skeleton layout
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/components/dash/DashLayout.tsx
  apps/web/components/dash/DataTable.tsx
  apps/web/components/dash/VizWidget.tsx
Labels: web

feat(web): add dash filter state synced with URL
  apps/web/lib/dash/url.ts
  apps/web/lib/dash/useDashState.ts
Labels: web

feat(dash): add error boundary and states
  apps/web/components/dash/Boundary.tsx
  apps/web/components/dash/index.ts
Labels: web

feat: add accessible dashboard filter panel
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/components/dash/DashLayout.tsx
  apps/web/components/dash/FilterPanel.tsx
  apps/web/lib/dash/useDashState.tsx
Labels: web

docs: add dashboards readme
  apps/web/app/(dashboards)/README.md
Labels: docs, web

fix: export dash state provider from state module
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/components/dash/DashLayout.tsx
  apps/web/components/dash/FilterPanel.tsx
  apps/web/lib/dash/state.tsx
  apps/web/lib/dash/useDashState.tsx
Labels: web

feat: add minimal viz specs
  apps/web/components/dash/vizSpecs.ts
Labels: web

feat(web): add msw mocks and dashboard dataset wiring
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/e2e/dash-msw.spec.ts
  apps/web/lib/dash/data.int.spec.ts
  apps/web/lib/dash/data.ts
  apps/web/package.json
  apps/web/public/mockServiceWorker.js
  apps/web/test/fixtures/stories.json
  apps/web/test/msw/browser-init.js
  apps/web/test/msw/handlers.ts
  apps/web/test/msw/server.ts
  apps/web/vitest.config.ts
Labels: web

fix: expose dash state defaults and helpers
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/components/dash/DashLayout.tsx
  apps/web/components/dash/FilterPanel.tsx
  apps/web/lib/dash/state.tsx
  apps/web/lib/dash/useDashState.tsx
Labels: web

fix: satisfy typed route expectations
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/components/dash/DashLayout.tsx
  apps/web/components/dash/FilterPanel.tsx
  apps/web/lib/dash/state.tsx
  apps/web/lib/dash/useDashState.tsx
Labels: web

fix: satisfy typed route expectations
  apps/web/app/(dashboards)/[slug]/page.tsx
  apps/web/components/dash/DashLayout.tsx
  apps/web/components/dash/FilterPanel.tsx
  apps/web/lib/dash/state.tsx
  apps/web/lib/dash/useDashState.tsx
Labels: web

feat(web): add dash dataset hook
  apps/web/lib/dash/data.ts
Labels: web

feat(web): add tanstack table component
  apps/web/components/dash/DataTable.tsx
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  package-lock.json
Labels: web

fix: restore lockfile and add tanstack table
  apps/web/package.json
  package-lock.json
Labels: web

fix(p0): restore valid package-lock.json so npm ci works
  package-lock.json
Labels: none

chore(lockfile): add root package-lock.json (workspaces) and enforce via .npmrc
  .npmrc
  package-lock.json
Labels: none

feat(web): report web vitals
  apps/web/app/api/vitals/route.ts
  apps/web/app/providers.tsx
  apps/web/package.json
  package-lock.json
Labels: web

feat(web): add focus-visible polyfill
  apps/web/app/FocusVisibleScript.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  package-lock.json
Labels: web

feat(web): add axe scans for key routes
  apps/web/package.json
  e2e/a11y-routes.spec.ts
  package-lock.json
Labels: web

chore: add lighthouse ci checks
  .github/workflows/lhci.yml
  .lighthouserc.cjs
Labels: ci

test: add reduce motion e2e audit
  apps/web/e2e/reduce-motion.spec.ts
  playwright.config.ts
Labels: web

fix: ensure lhci workflow builds tokens
  .github/workflows/lhci.yml
  .lighthouserc.cjs
Labels: ci

feat(web): add focus-visible polyfill
  apps/web/app/focus-visible-polyfill.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
Labels: web

test: align playwright test directories
  playwright.config.ts
  playwright.flags.config.ts
Labels: none

.github/labeler.yml:

# actions/labeler@v5 config (rule-based)
# Каждое имя лейбла -> массив правил (config options).
# Документация: https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**.yml"

web:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/web/**"
