Repository Inneren12/summa.vision-site, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, web

feat: enhance ff doctor confidence reporting
  docs/FLAGS_PLAYBOOK.md
  package-lock.json
  package.json
  scripts/doctor/ast.js
  scripts/ff-doctor.mjs
  tests/scripts/ast-detection.test.ts
  tests/scripts/doctor.json.test.ts
Labels: docs

refactor: add core HTTP adapter for FF routes
  app/api/ff-exposure/route.ts
  app/api/ff-override/route.ts
  app/api/flags/[key]/route.ts
  app/api/flags/route.ts
  lib/ff/http/core.ts
  lib/ff/http/next.ts
  lib/ff/http/types.ts
  lib/ff/origin.ts
  lib/ff/override-guard.ts
  lib/metrics/correlation.ts
  tests/ff/http/core.test.ts
Labels: none

feat(ff): enforce kill switch semantics
  app/admin/flags/page.tsx
  docs/flags.md
  docs/ops-playbook.md
  lib/ff/runtime/evaluate-flag.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-store.ts
  lib/ff/runtime/types.ts
  tests/ff/evaluate-flag.test.ts
Labels: docs

feat(ff): expand segment operators and docs
  app/ops/restore/route.ts
  docs/contributing-flags.md
  docs/flags.md
  docs/segments.md
  lib/ff/admin/api.ts
  lib/ff/runtime/evaluate-flag.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-store.ts
  lib/ff/runtime/segment-match.ts
  lib/ff/runtime/types.ts
  lib/ff/schema.ts
  lib/ff/stable-id.ts
  lib/metrics/correlation.ts
  lib/metrics/privacy.ts
  tests/ff/evaluate-flag.test.ts
  tests/ff/flag-config.schema.test.ts
  tests/ff/rollout.controller.test.ts
  tests/ff/segment-where.test.ts
Labels: docs

feat(ff): add shadow rollout observation support
  app/admin/flags/page.tsx
  app/api/flags/[key]/rollout/step/route.ts
  lib/ff/admin/api.ts
  lib/ff/effective.shared.ts
  lib/ff/runtime/evaluate-flag.ts
  lib/ff/runtime/memory-store.ts
  lib/ff/runtime/redis-store.ts
  lib/ff/runtime/types.ts
  lib/ff/schema.ts
  lib/ff/shared.ts
  scripts/ff-rollout.mjs
  tests/ff/evaluate-flag.test.ts
  tests/ff/telemetry.integration.test.ts
Labels: none

feat: enforce request correlation ids
  docs/ops-playbook.md
  middleware.ts
  package-lock.json
  package.json
  tests/ff/http/core.test.ts
  tests/middleware/request-id.test.ts
Labels: docs

feat: harden ff aid cookie and seed
  app/api/privacy/erase/route.ts
  docs/metrics-privacy.md
  lib/ff/stable-id.ts
  lib/metrics/correlation.ts
  lib/metrics/privacy.ts
  tests/ff/stable-id.test.ts
  tests/privacy/erase.route.test.ts
Labels: docs

feat: add rollout policy validation and schema export
  .github/workflows/ci.yml
  lib/ff/policy/schema.d.ts
  lib/ff/policy/schema.mjs
  package-lock.json
  package.json
  policies/.gitkeep
  rollout-policy.schema.json
  scripts/ff-rollout.mjs
  scripts/policy-schema-export.ts
  scripts/policy-validate.ts
  tests/policy/rollout-policy.schema.test.ts
Labels: ci

Hardening privacy guard allow list
  app/api/js-error/route.ts
  app/api/vitals/route.ts
  docs/metrics-privacy.md
  lib/metrics/privacy.ts
  scripts/doctor/ast.js
  tests/privacy/guard.test.ts
  tests/telemetry/js-error.route.test.ts
  tests/telemetry/vitals.route.test.ts
Labels: docs

feat: harden admin flag mutations
  app/api/flags/[key]/override/route.ts
  app/api/flags/[key]/rollout/step/route.ts
  app/api/kill/route.ts
  lib/admin/csrf.ts
  lib/admin/idempotency.ts
  lib/admin/rbac.ts
  middleware.ts
  tests/ff/admin.security.test.ts
  tests/middleware/cookies.test.ts
Labels: none

Implement NDJSON metrics rotation and compaction
  app/api/privacy/erase/route.ts
  lib/env/load.ts
  lib/env/schema.ts
  lib/metrics/ndjson.ts
  lib/ops/self-hosted-metrics-provider.ts
  scripts/doctor/ast.js
  scripts/metrics-compact.mjs
  scripts/metrics-rotate.mjs
  tests/env/load.test.ts
  tests/ops/self-hosted-metrics-provider.test.ts
  tests/scripts/metrics-compact.test.ts
  tests/scripts/metrics-rotate.test.ts
Labels: none

Add privacy export and compaction tooling
  app/api/privacy/erase/route.ts
  app/api/privacy/export/route.ts
  lib/env/load.ts
  lib/env/schema.ts
  lib/ff/audit.ts
  lib/metrics/ndjson.ts
  lib/ops/self-hosted-metrics-provider.ts
  package-lock.json
  package.json
  scripts/doctor/ast.js
  scripts/metrics-compact.mjs
  scripts/metrics-rotate.mjs
  scripts/privacy-compact.mjs
  tests/env/load.test.ts
  tests/ops/self-hosted-metrics-provider.test.ts
  tests/privacy/export.route.test.ts
  tests/scripts/metrics-compact.test.ts
  tests/scripts/metrics-rotate.test.ts
  tests/scripts/privacy-compact.test.ts
Labels: none

chore(ci): enforce commit hygiene
  .github/workflows/s0-ci.yml
  .github/workflows/s0.yml
  .husky/commit-msg
  .husky/pre-commit
  CONTRIBUTING.md
  package.json
Labels: docs, ci

feat(a11y): add reduced motion tokens and forced-colors support
  src/shared/theme/tokens.ts
  styles/global.css
  styles/tokens.css
  tokens/brand.tokens.json
Labels: none

feat(telemetry): add zipped export and ops summary diagnostics
  app/api/privacy/erase/route.ts
  app/api/telemetry/export/route.ts
  app/ops/summary/route.ts
  docs/ops-playbook.md
  package-lock.json
  package.json
  scripts/doctor/ast.js
  tests/ops/summary.route.test.ts
  tests/telemetry/export.route.test.ts
Labels: docs

chore: add smart commitlint runner
  package.json
  scripts/commitlint-run.mjs
Labels: none

ci(commitlint): add config, runner and husky v10 hooks
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  package-lock.json
  package.json
  scripts/commitlint-run.mjs
Labels: none

ci(commitlint): add config, runner and husky v10 hooks
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  package-lock.json
  package.json
  scripts/commitlint-run.mjs
Labels: none

ci(s0): add commitlint range step and quality gates
  .github/workflows/s0.yml
Labels: ci

ci(commitlint): add workspace proxy script (apps/web)
  apps/web/package.json
Labels: web

ci(s0): robust commitlint step (root + workspace fallback)
  .github/workflows/s0.yml
Labels: ci

feat: add ff-safe eslint rules
  .eslintrc.ff.cjs
  package-lock.json
  package.json
  scripts/doctor/ast.js
  tests/eslint/rule-exists.test.ts
  tools/eslint-plugin-ff-safe/index.cjs
  tools/eslint-plugin-ff-safe/package.json
  tools/eslint-plugin-ff-safe/rules/no-dynamic-ff-key.cjs
  tools/eslint-plugin-ff-safe/rules/no-ff-server-in-client.cjs
  tools/eslint-plugin-ff-safe/rules/no-telemetry-in-server.cjs
  tools/eslint-plugin-ff-safe/utils/module.cjs
Labels: none

ci(commitlint): runner supports --from/--to and HEAD^..HEAD fallback
  scripts/commitlint-run.mjs
Labels: none

feat(ff-doctor): add watch mode and improve confidence scoring
  scripts/doctor/ast.js
  scripts/ff-doctor.mjs
  tests/scripts/doctor.json.test.ts
Labels: none

Add global error boundary with correlated JS error reporting
  apps/web/app/layout.tsx
  apps/web/app/providers.tsx
  apps/web/components/GlobalErrorBoundary.tsx
  apps/web/lib/reportError.test.ts
  apps/web/lib/reportError.ts
Labels: web

feat: batch client telemetry events
  app/api/js-error/route.ts
  app/api/vitals/route.ts
  apps/web/app/metrics.ts
  apps/web/app/providers.tsx
  apps/web/app/telemetry/client-buffer.ts
  apps/web/tests/telemetry/client-buffer.test.ts
  scripts/doctor/ast.js
  tests/telemetry/js-error.route.test.ts
  tests/telemetry/vitals.route.test.ts
Labels: web

chore: stabilize ci caching
  .github/workflows/ci.yml
  .github/workflows/s0-ci.yml
  .node-version
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/ci-cache-prune.mjs
  scripts/ci-env.mjs
Labels: ci

feat(flags): add hydration-safe flag gate
  components/gates/FlagGate.client.tsx
  components/gates/FlagGate.server.tsx
  components/gates/FlagGate.tsx
  components/gates/flag-evaluate.ts
  scripts/doctor/ast.js
  tests/ff/provider.ui.test.tsx
Labels: none

feat: enforce static flag keys in JSX
  .eslintrc.cjs
  .lintstagedrc.cjs
  package.json
  scripts/doctor/ast.js
  tools/eslint/rules/no-dynamic-ff-key.js
Labels: none

feat(metrics): tighten ndjson compaction window
  docs/data-layer.md
  scripts/metrics-compact.mjs
  tests/ops/self-hosted-metrics-provider.test.ts
  tests/scripts/metrics-compact.test.ts
Labels: docs

feat: add ff-doctor watch mode
  app/api/privacy/erase/route.ts
  scripts/doctor/ast.js
  scripts/ff-doctor.mjs
  tests/scripts/doctor.watch.test.ts
Labels: none

feat: add correlated client error boundary
  apps/web/app/layout.tsx
  apps/web/app/providers.spec.tsx
  apps/web/app/providers.tsx
  apps/web/components/GlobalErrorBoundary.tsx
Labels: web

feat: enforce static flag keys in JSX
  components/gates/FlagGate.server.tsx
  tests/eslint/rule-exists.test.ts
  tools/eslint-plugin-ff-safe/rules/no-dynamic-ff-key.cjs
Labels: none

feat: allow configuring privacy export limits
  app/api/privacy/export/route.ts
  tests/privacy/export.route.test.ts
Labels: none

feat: add telemetry zip export and ops summary stats
  app/api/telemetry/export/route.ts
  app/ops/summary/route.ts
  tests/ops/summary.route.test.ts
  tests/telemetry/export.route.test.ts
Labels: none

feat: add rollout preflight validation
  lib/ff/policy/schema.d.ts
  lib/ff/policy/schema.mjs
  rollout-policy.schema.json
  scripts/ff-rollout.mjs
  tests/policy/rollout-policy.schema.test.ts
  tests/scripts/ff-rollout.preflight.test.ts
Labels: none

test(web): use relative import for correlation; satisfy import/order
  apps/web/app/layout.tsx
  apps/web/next.config.mjs
  apps/web/tsconfig.json
Labels: web

fix(web): correlation.ts — relative import for ff/stable-id (Next+Vitest safe)
  lib/metrics/correlation.ts
Labels: none

fix(web): providers.tsx uses relative correlation import (TS types OK)
  apps/web/app/providers.tsx
Labels: web

fix(web): coerce componentStack null to undefined in error reporter
  apps/web/app/providers.tsx
Labels: web

.github/labeler.yml:

# actions/labeler@v5 config (rule-based)
# Каждое имя лейбла -> массив правил (config options).
# Документация: https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**.yml"

web:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/web/**"
