Repository Inneren12/summa.vision-site, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, web

.github/labeler.yml:

# actions/labeler@v5 config (rule-based)
# Каждое имя лейбла -> массив правил (config options).
# Документация: https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**.yml"

web:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/web/**"

Add Lighthouse performance budgets workflow
  .github/workflows/perf.yml
  .lighthouserc.cjs
  apps/web/lighthouse-budgets.json
  package.json
  reports/perf/.gitkeep
  scripts/start-web-ci.cjs
Labels: ci, web

chore: configure perf workflow env defaults
  .github/workflows/perf.yml
Labels: ci

Add default env setup for CI and E2E workflows
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Labels: ci

feat: configure ISR and healthz caching
  .release-please-manifest.json
  apps/web/CHANGELOG.md
  apps/web/app/(system)/healthz/healthz.spec.tsx
  apps/web/app/(system)/healthz/page.tsx
  apps/web/app/api/healthz/route.cache.spec.ts
  apps/web/app/api/healthz/route.spec.ts
  apps/web/app/api/healthz/route.ts
  apps/web/app/page.cache.spec.ts
  apps/web/app/page.tsx
  apps/web/app/robots.spec.ts
  apps/web/config.headers.spec.ts
  apps/web/jest-axe.d.ts
  apps/web/tsconfig.json
Labels: docs, web

Fix perf workflow chrome path resolution
  .github/workflows/perf.yml
Labels: ci

Restore healthz contract
  apps/web/app/api/healthz/route.spec.ts
  apps/web/app/api/healthz/route.ts
Labels: web

fix: restore healthz status field
  apps/web/app/api/healthz/route.spec.ts
  apps/web/app/api/healthz/route.ts
Labels: web

chore: add knip and madge quality checks
  .github/workflows/quality.yml
  knip.jsonc
  madge.config.mjs
  package.json
  scripts/run-madge.mjs
Labels: ci

chore(ci): add visual baseline sync workflow
  .gitattributes
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

test(visual): add playwright visual workflows
  .github/workflows/visual-snapshots-sync.yml
  .github/workflows/visual.yml
  apps/web/app/(visual)/atoms/page.tsx
  e2e/visual/atoms.spec.ts
  e2e/visual/healthz.spec.ts
  e2e/visual/home.spec.ts
  package.json
Labels: ci, web

Update playwright.config.ts
  playwright.config.ts
Labels: none

Update package.json
  package.json
Labels: none

Update package.json
  package.json
Labels: none

Update playwright.config.ts
  playwright.config.ts
Labels: none

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update playwright.config.ts
  playwright.config.ts
Labels: none

Update playwright.config.ts
  playwright.config.ts
Labels: none

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update e2e.yml
  .github/workflows/e2e.yml
Labels: ci

Update e2e.yml
  .github/workflows/e2e.yml
Labels: ci

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update visual-snapshots-sync.yml
  .github/workflows/visual-snapshots-sync.yml
Labels: ci

Update e2e.yml
  .github/workflows/e2e.yml
Labels: ci

fix: align playwright workflows and config
  .github/workflows/e2e.yml
  .github/workflows/visual-snapshots-sync.yml
  package.json
  playwright.config.ts
Labels: ci

chore: align playwright ci configuration
  .github/workflows/e2e.yml
  .github/workflows/visual-snapshots-sync.yml
  package.json
  playwright.config.ts
Labels: ci

Align Playwright packages
  package-lock.json
  package.json
Labels: none

chore: align playwright ci config
  .github/workflows/e2e.yml
  .github/workflows/visual-snapshots-sync.yml
  playwright.config.ts
Labels: ci

chore: stabilize playwright ci
  .github/workflows/e2e.yml
  .github/workflows/visual-snapshots-sync.yml
  package.json
Labels: ci

chore: stabilize s0 and e2e workflows
  .github/workflows/s0.yml
  playwright.config.ts
Labels: ci

feat: add standalone visual snapshot setup
  .gitattributes
  README.md
  apps/web/app/(visual)/atoms/page.tsx
  e2e/visual/atoms.spec.ts
  e2e/visual/healthz.spec.ts
  e2e/visual/home.spec.ts
  package.json
  playwright.visual.config.ts
Labels: docs, web

Add files via upload
  atoms-win32.png
  healthz.spec.ts-snapshots/healthz-win32.png
  home.spec.ts-snapshots/home-win32.png
Labels: none

Rename atoms-win32.png to e2e/visual/atoms.spec.ts-snapshots/atoms-win32.png
  e2e/visual/atoms.spec.ts-snapshots/atoms-win32.png
Labels: none

Rename healthz.spec.ts-snapshots/healthz-win32.png to e2e/visual/healthz.spec.ts-snapshots/healthz-win32.png
  e2e/visual/healthz.spec.ts-snapshots/healthz-win32.png
Labels: none

Rename home.spec.ts-snapshots/home-win32.png to e2e/visual/home.spec.ts-snapshots/home-win32.png
  e2e/visual/home.spec.ts-snapshots/home-win32.png
Labels: none
